.header {
    
    background-image: url(../../images/footer.png);
    height: 150px;
    margin: 0;
    font-size: 18px;
    box-shadow: 0 0 50px 0px;
  }
  
  .green{
    color:#DE6CA9;

  }
  .red{
    color: #1D315C;

  }

  #colorChange{
   position: absolute;
   top: 0;

  }

.push{

}